.navbar{
    display: flex;
    justify-content: center;
    padding: 1em 1em;
    color: #517e1a;
   
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.logo img{
    width: 50px;
    margin-right: 0.9em;
    margin-bottom: 2.5em;
   
}

.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a{
   text-decoration: none;
   color: #2c7c43;
   font-weight: bold;
   cursor:pointer;
   transition: .5s;
   padding:  0.5em 0.8em;
   border-radius: 5px;
}

.navbar li:hover > a{
    background-color: #fff;
    color: #517e1a;
}

.divisor {
    border-left: 3px solid #83cc2b;
    height: 18px;
  }

.separador{
    height:2px;
    border-width:0;
    color:#517e1a;
    background-color:#517e1a;
}
